#titleTag{
   font-weight: 600;
   font-family:Fira Code;
   font-size: 70px;
}

#box_1{
   border:10px solid black;
   border-radius:10px;
   width:65%;
   padding-top:100px;
   padding-bottom: 100px;
}

.button-{
   border: 3.6px solid slategray;
   background-color: silver;
   border-radius:5px;
   padding: 15px 30px;
   display:inline-block;   
   font-size:20px;
   font-family: monospace;
   font-weight: 600;
   
}

.button-:active{
   background-color: rgb(144, 141, 141);
}

body{
   background: rgb(199, 255, 45);
}

#err_txt{
   font-size:x-large;
   font-weight: bolder;
   font-family: monospace;
}